@model IEnumerable<SomaliEbayProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="panel panel-success">
    <div class="panel-heading">Welcome Product list</div>
    <div class="panel-body">
        <table class="table  table-bordered table-hover table-responsive table-striped table-responsive-lg">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductDescription)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductDescription)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Discount)
                        </td>
                        <td>
                            @if(item.Image != null)
                            {
                              <image class="img-thumbnail" style="min-height: 60px; max-width: 100px;" scr="data:image;base64, @Convert.ToBase64String(item.Image)"/>
                            }
                            else
                            {
                                <p class="text-danger">No Image</p>
                            }
                        </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm ('Are you sure you want to delete this?')">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>